[submodule "testdata"]
	path = testdata
	url = git@konishchev.ru:investments-testdata.git
[submodule "src/quotes/tinkoff/api"]
	path = src/quotes/tinkoff/api
	url = git@github.com:Tinkoff/investAPI.git
