[package]
name = "investments"
version = "0.1.0"
edition = "2018"
authors = ["Dmitry Konishchev"]
default-run = "investments"

[[bin]]
name = "investments"
path = "src/bin/investments/mod.rs"

[[bin]]
name = "tax-statement-parser"
path = "src/bin/tax_statement_parser.rs"

[dependencies]
ansi_term = "0.12.1"
calamine = "0.16.1"
chrono = "0.4.10"
chrono-tz = "0.5.1"
cast = "0.2.3"
clap = "2.33.0"
csv = "1.1.3"
diesel = { version = "1.4.3", features = ["sqlite", "chrono"] }
diesel-derive-enum = { version = "0.4.4", features = ["sqlite"] }
diesel_migrations = "1.4.0"
easy-logging = "0.1.1"
encoding_rs = "0.8.22"
indoc = "0.3.4"
lazy_static = "1.4.0"
log = "0.4.8"
maplit = "1.0.2"
matches = "0.1.8"
num-traits = "0.2.11"
prettytable-rs = "0.8.0"
rayon = "1.1"
regex = "1.3.3"
reqwest = { version = "0.10.1", features = ["blocking", "json"] }
rust_decimal = "1.1.0"
rust_decimal_macros = "1.1.0"
separator = "0.4.1"
serde = { version = "1.0.104", features = ["derive"] }
serde_yaml = "0.8.11"
serde-xml-rs = "0.3.1"
shellexpand = "1.1.1"
static_table_derive = { path = "src/formatting/static_table_derive" }
xls_table_derive = { path = "src/xls/xls_table_derive" }

[dev-dependencies]
mockito = "0.22.0"
rstest = "0.5.3"
tempfile = "3.1.0"
url = "2.1.1"
