portfolios:
  -
    # Name which will identify your portfolio in commands
    name: ib

    # Specifies broker
    broker: interactive-brokers

    # Path to a directory with broker statements
    statements: ~/Brokerage/Interactive Brokers/Statements

    # Tax remapping rules (https://github.com/KonishchevDmitry/investments/blob/master/docs/brokers.md#ib-tax-remapping)
    #tax_remapping:
    #  - date: 13.02.2020
    #    description: BND(US9219378356) Cash Dividend 0.19834500 USD per Share - US Tax
    #    to_date: 06.02.2019

    # Base currency of your account
    currency: USD

    # Specifies which instruments' performance should be merged into the specified instrument during performance
    # analysis. This may be useful for example when you replace one ETF by another but very similar and want to know how
    # performant is your choice over the all elapsed time.
    #merge_performance:
    #  IGM: [VGT]

    # When investments tries to rebalance your portfolio according to the specified weights it may lead to orders like
    # "buy 1 XXX stock, sell 1 YYY stock" which may be too expensive in terms of commissions. This option sets minimum
    # trade volume per stock which solves the issue.
    min_trade_volume: 200

    # Free cash assets that must left after portfolio rebalancing
    min_cash_assets: 50

    # restrict_selling/restrict_buying options may be applied to the whole portfolio, asset groups or individual stocks
    # and restrict the specified action.
    restrict_selling: true

    # Describes your target assets allocation for portfolio rebalancing. Positions can be grouped with unlimited nesting
    # level.
    assets:
      - name: Stocks
        weight: 70%
        assets:
          - {name: Vanguard Total Stock Market ETF, symbol: VTI, weight: 75%}
          - {name: Vanguard Total International Stock ETF, symbol: VXUS, weight: 25%}

      - name: Bonds
        weight: 30%
        assets:
          - {name: Vanguard Total Bond Market ETF, symbol: BND, weight: 50%}
          - {name: Vanguard International Bond ETF, symbol: BNDX, weight: 50%}

  - name: open
    broker: open-broker
    plan: Всё включено
    statements: ~/Brokerage/Открытие/Отчеты Брокера

    # Specifies the day when tax is paid. Used in portfolio performance analysis. Accepted values:
    # * Date in DD.MM format
    # * on-close - for accounts that are taxable on their close. Suitable for Individual Investment Account (type A).
    tax_payment_day: on-close

    # Received tax deductions can be specified here and will be taken into account during portfolio performance analysis
    tax_deductions:
      25.09.2018: 52000

    currency: RUB
    min_cash_assets: 250
    restrict_selling: true

    assets:
      - name: Stocks
        weight: 80%
        assets:
          - {name: FinEx MSCI USA UCITS ETF, symbol: FXUS, weight: 75%}
          - name: Other world
            weight: 25%
            assets:
              - {name: FinEx MSCI Germany UCITS ETF, symbol: FXDE, weight: 37%}
              - {name: FinEx Russian RTS Equity UCITS ETF, symbol: FXRL, weight: 32%}
              - {name: FinEx MSCI China UCITS ETF, symbol: FXCN, weight: 31%}
      - {name: FinEx Tradable Russian Corporate Bonds UCITS ETF, symbol: FXRU, weight: 20%}

  - name: firstrade
    broker: firstrade
    statements: ~/Brokerage/Firstrade/Statements

    # Firstrade may use outdated symbol names in broker statements. You can remap them to the actual ones.
    symbol_remapping:
      ISI: ITOT

    # Some brokers don't provide instrument names or provide them in non-human-friendly form. You can specify your own
    # instrument names.
    instrument_names:
      ITOT: iShares Core S&P Total U.S. Stock Market ETF
      IXUS: iShares Core MSCI Total International Stock ETF
      AGG:  iShares Core U.S. Aggregate Bond ETF
      IAGG: iShares Core International Aggregate Bond ETF
      REET: iShares Global REIT ETF

  - name: bcs
    broker: bcs
    plan: Инвестор
    statements: ~/Brokerage/БКС/Отчеты Брокера

    # Configures the account as tax free. Suitable for Individual Investment Account (type B).
    tax_exemptions: [tax-free]

  - name: tinkoff
    broker: tinkoff
    plan: Инвестор
    statements: ~/Brokerage/Тинькофф/Отчеты Брокера

    # Tinkoff doesn't provide any information about corporate actions, so we have to specify them manually
    #corporate_actions:
    #  - type: stock-split
    #    date: 27.10.2020
    #    symbol: NEE
    #    ratio: 4:1

# Tax rate is assumed to be 13% by default, but you can override it. For example the following setting sets tax rate to
# 15% starting from 2021 year.
#tax_rates:
#  trading:
#    2021: 15
#  dividends:
#    2021: 15
#  interest:
#    2021: 15

# Your individual broker + bank account configuration. For now specifies your bank commissions for transferring funds
# from your bank account to your broker account. Will be taken into account during portfolio performance analysis.
brokers:
  bcs:
    deposit_commissions:
      RUB:
        fixed_amount: 0

  firstrade:
    deposit_commissions:
      USD:
        fixed_amount: 15

  interactive_brokers:
    deposit_commissions:
      RUB:
        fixed_amount: 0
      USD:
        fixed_amount: 15

  open_broker:
    deposit_commissions:
      RUB:
        fixed_amount: 0

  tinkoff:
    deposit_commissions:
      RUB:
        fixed_amount: 0
      USD:
        fixed_amount: 0

finnhub:
  # API token that must be obtained here - https://finnhub.io/register
  token: secret

twelvedata:
  # API key that must be obtained here - https://twelvedata.com/apikey
  token: secret


deposits:
  - name: Тинькофф
    open_date: 31.01.2019
    close_date: 31.07.2019
    amount: 190000
    #currency: RUB
    interest: 7
    capitalization: true
    contributions:
      05.02.2019: 60000
      21.02.2019: 50000

# Configures the number of days to notify before deposit closing (for --cron mode)
notify_deposit_closing_days: 10
